@font-face {
    font-family: 'mont-light';
    src: url("montserrat/Montserrat-Light.otf") format("truetype");
}
@font-face {
    font-family: 'mont-regular';
    src: url("montserrat/Montserrat-Regular.otf") format("truetype");
}
@font-face {
    font-family: 'mont-medium';
    src: url("montserrat/Montserrat-Medium.otf") format("truetype");
}
@font-face {
    font-family: 'mont-extrabold';
    src: url("montserrat/Montserrat-ExtraBold.otf") format("truetype");
}
@font-face {
    font-family: 'mont-bold';
    src: url("montserrat/Montserrat-Bold.otf") format("truetype");
}
@font-face {
    font-family: 'mont-black';
    src: url("montserrat/Montserrat-Black.otf") format("truetype");
}
@font-face {
    font-family: 'gobold-extra-1';
    src: url("font/Gobold\ Extra1.ttf") format("truetype");
}
/* fonts */
.th-mont-regular{
    font-family: mont-regular;
}
.th-mont-light{
    font-family: mont-light;
}
.th-mont-medium{
    font-family: mont-medium;
}
.th-mont-extrabold{
    font-family: mont-extrabold;
}
.th-mont-bold{
    font-family: mont-bold;
}
/* font size */
.th-10{
    font-size: 10px;
}
.th-12{
    font-size: 12px;
}
.th-14{
    font-size: 14px;
}
.th-16{
    font-size: 16px;
}
.th-28{
    font-size: 28px;
}
/* font color */
.th-grey{
    color: #828282;
}

/* Top Bar */
.th-header{
    background-color: #f6f6f6
}
.th-header-img {
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}
@media only screen and (max-width: 600px) {
  .th-header-img {height: 30px;}
}
@media only screen and (min-width: 600px) {
  .th-header-img {height: 45px;}
}
@media only screen and (min-width: 768px) {
  .th-header-img {height: 60px;}
} 
@media only screen and (min-width: 992px) {
  .th-header-img {height: 70px;}
} 
@media only screen and (min-width: 1200px) {
  .th-header-img {height: 80px;}
}
.th-header-text{
    color: #36a1f9;
    line-height: 1.1;
}
.th-header-text-2{
    color: #36a1f9;
    line-height: 1.1;
}
.th-text-why{
    font-family: mont-black;
}
.th-text-glacial{
    font-family: mont-bold;
    font-size: 30px;
}
.th-text-we{
    color: #4c4c4c;
    font-family: mont-medium;
    font-size: 27px;
}
.th-offer-img{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
.th-bl-dark{
    font-family: 'mont-black';
    font-weight: bold;
    color: #36a1f9;
}
.th-bl-light{
    font-family: 'mont-regular';
    color: #36a1f9;
}
@media only screen and (max-width: 350px) {
    .th-header-text {font-size: 9px;}
    .th-header-text-2 {font-size: 11.5px;}
    .th-text-why {font-size: 10px;}
    .th-text-glacial {font-size: 13px;}
    .th-text-we {font-size: 8px;}
    .th-offer-img{height: 280px;}
    .th-icon-img{height: 40px;}
    .th-bl-dark{font-size: 8px;}
    .th-bl-light{font-size: 8px;}
    .th-text-footer{ font-size: 10px;}
}
@media only screen and (min-width: 350px) {
    .th-header-text {font-size: 10px;}
    .th-header-text-2 {font-size: 12.8px;}
    .th-text-why {font-size: 12px;}
    .th-text-glacial {font-size: 15.5px;}
    .th-text-we {font-size: 10px;}
    .th-offer-img{height: 325px;}
    .th-icon-img{height: 50px;}
    .th-bl-dark{font-size: 9px;}
    .th-bl-light{font-size: 8px;}
    .th-text-footer{ font-size: 10px;}
}
@media only screen and (min-width: 600px) {
    .th-header-text {font-size: 17.2px;}
    .th-header-text-2 {font-size: 22px;}
    .th-text-why {font-size: 14px;}
    .th-text-glacial {font-size: 18px;}
    .th-text-we {font-size: 14px;}
    .th-offer-img{height: 500px;}
    .th-icon-img{height: 60px;}
    .th-bl-dark{font-size: 12px;}
    .th-bl-light{font-size: 12px;}
    .th-text-footer{ font-size: 11px;}
}
@media only screen and (min-width: 768px) {
    .th-header-text {font-size: 23.5px;}
    .th-header-text-2 {font-size: 30px;}
    .th-text-why {font-size: 14px;}
    .th-text-glacial {font-size: 18px;}
    .th-text-we {font-size: 18px;}
    .th-offer-img{height: 500px;}
    .th-icon-img{height: 60px;}
    .th-bl-dark{font-size: 10px;}
    .th-bl-light{font-size: 10px;}
    .th-text-footer{ font-size: 12px;}
}
@media only screen and (min-width: 992px) {
    .th-header-text {font-size: 30px;}
    .th-header-text-2 {font-size: 38.5px;}
    .th-text-why {font-size: 20px;}
    .th-text-glacial {font-size: 26px;}
    .th-text-we {font-size: 24px;}
    .th-offer-img{height: 500px;}
    .th-icon-img{height: 60px;}
    .th-bl-dark{font-size: 14px;}
    .th-bl-light{font-size: 12px;}
    .th-text-footer{ font-size: 14px;}
} 
@media only screen and (min-width: 1200px) {
    .th-header-text {font-size: 37.5px;}
    .th-header-text-2 {font-size: 48px;}
    .th-text-why {font-size: 24px;}
    .th-text-glacial {font-size: 30px;}
    .th-text-we {font-size: 27px;}
    .th-offer-img{height: 500px;}
    .th-icon-img{height: 60px;}
    .th-bl-dark{font-size: 16px;}
    .th-bl-light{font-size: 14px;}
    .th-text-footer{ font-size: 16px;}
}
/* Image Section */
.th-body-img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

/* card */
.th-card{
    background-color: white;
    border-radius: 5px;
  
}
.th-text-offer{
    font-family: gobold-extra-1;
    color:#f1612c;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}
.th-header-underline{
    height: 0.5px;
    width: 100%;
    background-color: #cccccc;
}
.th-text-availoffer{
    font-family: mont-bold;
    border: none;
    background-color: #f2612c;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.th-text-special{
    font-family: mont-bold;
    font-size: 14px;
    color: #105fe2;
}
/* footer */
.th-pay-img{
    padding-top: 16px;
    height: 40px;
}
.th-pay-img-2{
    height: 40px;
}
.th-bold{
    font-weight: bold;
}
.th-footer{
    background-color: #dee7ef;
}
.th-vl{
    border-left: 1px solid rgb(124, 128, 124);
    height: 24px;
}
.th-form-input{
    background-color: white;
    height: 40px;
    font-family: mont-medium;
    color: black;
    font-size: 12px;
    border-radius: 3px;
    border:solid 1px #cbcbcb;
}
.th-form-input:placeholder{
    color: black;
}
.th-form-input:focus{
    outline: none;
}
.th-form-input-2{
    z-index: 100;
    background-color: none !important;
    height: 30px;
    font-family: mont-medium;
    color: black;
    font-size: 12px;
    border-radius: 3px;
    border:none;
}
.th-form-input-2:placeholder{
    color: black;
}
.th-form-input-2:focus{
    outline: none;
}
.th-calender-box{
    background-color: white;
    height: 40px;
    font-family: mont-medium;
    color: black;
    font-size: 12px;
    border-radius: 3px;
    border:solid 1px #cbcbcb;
}
.th-img-calendar{
    z-index: 1000;
    padding-left: 0px;
    position: absolute;
    right: 30px;
    bottom: -10px;
}
/* timer */
.th-timer{
    font-family: mont-bold;
    font-size: 28px;
}

.th-link{
    color: black;
    text-decoration: none;
}
.th-link:hover{
    color: #f2612c;
}